<!DOCTYPE html>
<html>

<head>
    <title>{{id}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <div class="content">
        <div id="portrait" class="portrait">
        </div>
        <div class="info">
            <div id="alliance">
                Alliance:
                <div id="alli_name" div style="display: inline">...</div>
                <a href="https://evewho.com/alliance/{{id}}">[evewho]</a>
                <a href="https://zkillboard.com/alliance/{{id}}/">[zkillboard]</a>
            </div>
            <div id="details">
                <p>Creator: $(creator)</p>
                <p>Executor: $(executor)</p>
                <p>Founded: $(founded)</p>
            </div>
        </div>
    </div>
    <div class="activity">
    </div>
    <h4>Activity last 60 days:</h4>
    <div id="wins_head"></div>
    <div class="tables-container">
        <div id="win_ships"></div>
        <div id="win_systems"></div>
    </div>
    <div id="losses_head"></div>
    <div class="tables-container">
        <div id="lost_ships"></div>
        <div id="lost_systems"></div>
    </div>
    <div>
        <h4>Friends</h4>
    </div>
    <div class="tables-container">
        <div id="friendly_chars"></div>
        <div id="friendly_corps"></div>
        <div id="friendly_allis"></div>
    </div>
    <div>
        <h4>Enemy</h4>
    </div>
    <div class="tables-container">
        <div id="enemy_chars"></div>
        <div id="enemy_corps"></div>
        <div id="enemy_allis"></div>
    </div>
    </div>
    <script>
        function href(area, id, name) {
            return '<a href="/' + area + '/' + id + '/">' + name + '</a>';
        }

        async function updateContent() {
            try {
                const id = Number(`{{id}}`);
                console.log('id: [' + id + ']');


                const alliance = await getObjectAsync('alliances', id);
                console.log(alliance);

                const alli_name = alliance.name + " [" + alliance.ticker + "]";
                insertInto('alli_name', makeRef('alliance', id, alli_name));
                document.title = alli_name;

                const names = await getNames([alliance.creator_corporation_id, alliance.creator_id]);
                console.log(names);

                const executor = href('corporation', alliance.creator_corporation_id, names[alliance.creator_corporation_id]);
                const creator = href('character', alliance.creator_id, names[alliance.creator_id]);

                const detailsDiv = document.getElementById('details');
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(executor)', executor);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(creator)', creator);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(founded)', alliance.date_founded);


                const portrait = await getObjectAsync('alliances', id, 'icons');
                // console.log(portrait);
                insertInto('portrait', makeImage(portrait.px128x128, "128x128"));

                {
                    const report = await requestShortReportAsync('alliance', id);
                    console.log(report);
                    document.getElementById("wins_head").innerHTML = "<h4>Wins: " + report.wins.count + ' (' + report.wins.count_percent
                        + "%) </h4>";
                    document.getElementById("losses_head").innerHTML = "<h4>Losses: " + report.losses.count + ' (' + report.losses.count_percent
                        + "%) </h4>";
                }
                {
                    const report = await requestShipReportAsync('alliance', id);
                    // console.log(report);
                    const zkb = "https://zkillboard.com/ship/$(id)/";
                    document.getElementById('win_ships').appendChild(createTable(zkb, report.win_ships));
                    const gui = "/lost/ship/$(id)/alliance/" + id + "/";
                    document.getElementById('lost_ships').appendChild(createTable(gui, report.lost_ships));
                }
                {
                    const link = "https://zkillboard.com/system/$(id)/";
                    const report = await requestSystemReportAsync('alliance', id);
                    console.log(report);
                    document.getElementById('win_systems').appendChild(createTable(link, report.win_systems));
                    document.getElementById('lost_systems').appendChild(createTable(link, report.lost_systems));
                }
                {
                    const link = "/character/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('character', 'alliance', id);
                    console.log(report);
                    document.getElementById('friendly_chars').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_chars').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "/corporation/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('corporation', 'alliance', id);
                    console.log(report);
                    document.getElementById('friendly_corps').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_corps').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "/alliance/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('alliance', 'alliance', id);
                    console.log(report);
                    document.getElementById('friendly_allis').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_allis').appendChild(createTable(link, report.enemy));
                }

            } catch (error) {
                console.log(error.message);
            }
        }

        updateContent();
    </script>

    <div align='center'>
        <a href="/gui/who/">Home</a>
    </div>

</body>

</html>