<!DOCTYPE html>
<html>

<head>
    <title>{{id}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <div class="content">
        <div class="hidden" id="id">{{id}}</div>
        <div id="portrait" class="portrait">
        </div>
        <div class="info">
            <div id="character">
                Character:
                <div id='char_name' div style="display: inline">...</div>
                <a href="https://evewho.com/character/{{id}}">[evewho]</a>
                <a href="https://zkillboard.com/character/{{id}}/">[zkillboard]</a>
            </div>
            <div id="corporation">
                Corporation:
                <div id="corp_name" div style="display: inline">...</div>
                <a href="https://evewho.com/corporation/$(corporation_id)">[evewho]</a>
                <a href="https://zkillboard.com/corporation/$(corporation_id)/">[zkillboard]</a>
            </div>
            <div id="alliance">
                Alliance:
                <div id="alli_name" div style="display: inline">...</div>
                <a href="https://evewho.com/alliance/$(alliance_id)">[evewho]</a>
                <a href="https://zkillboard.com/alliance/$(alliance_id)/">[zkillboard]</a>
            </div>
            <div id="details">
                <p>Gender: $(gender)</p>
                <p>Birthday: $(birthday)</p>
                <p>Security Status: $(security_status)</p>
            </div>
        </div>
    </div>
    <div class="activity">
        <h4>Activity last 60 days:</h4>
        <div id="wins_head"></div>
        <div class="tables-container">
            <div id="win_ships"></div>
            <div id="win_systems"></div>
        </div>
        <div id="losses_head"></div>
        <div class="tables-container">
            <div id="lost_ships"></div>
            <div id="lost_systems"></div>
        </div>
        <div>
            <h4>Friends</h4>
        </div>
        <div class="tables-container">
            <div id="friendly_chars"></div>
            <div id="friendly_corps"></div>
            <div id="friendly_allis"></div>
        </div>
        <div>
            <h4>Enemy</h4>
        </div>
        <div class="tables-container">
            <div id="enemy_chars"></div>
            <div id="enemy_corps"></div>
            <div id="enemy_allis"></div>
        </div>
    </div>

    <script>
        async function updateContent(id) {
            try {
                const character = await getObjectAsync('characters', id);
                // console.log(character);

                document.title = character.name;
                document.getElementById('char_name').innerText = character.name;
                document.querySelectorAll('#corporation a').forEach(anchor => {
                    anchor.href = anchor.href.replace('$(corporation_id)', character.corporation_id);
                });

                const corporation = await getObjectAsync('corporations', character.corporation_id);
                // console.log(corporation);
                insertInto('corp_name', makeRef('corporation', character.corporation_id, corporation.name));

                if (character.alliance_id !== undefined) {
                    const alliance = await getObjectAsync('alliances', corporation.alliance_id);
                    // console.log(alliance);

                    document.querySelectorAll('#alliance a').forEach(anchor => {
                        anchor.href = anchor.href.replace('$(alliance_id)', character.corporation_id);
                    });
                    insertInto('alli_name', makeRef('alliance', corporation.alliance_id, alliance.name));

                } else {
                    const element = document.getElementById('alliance');
                    element.remove();
                }

                const detailsDiv = document.getElementById('details');
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(gender)', character.gender);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(birthday)', character.birthday);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(security_status)', character.security_status.toFixed(2));

                const portrait = await getObjectAsync('characters', id, 'portrait');
                // console.log(portrait);
                insertInto('portrait', makeImage(portrait.px128x128, "128x128"));

                {
                    const report = await requestShortReportAsync('character', id);
                    console.log(report);
                    document.getElementById("wins_head").innerHTML = "<h4>Wins: " + report.wins.count + ' (' + report.wins.count_percent
                        + "%) </h4>";
                    document.getElementById("losses_head").innerHTML = "<h4>Losses: " + report.losses.count + ' (' + report.losses.count_percent
                        + "%) </h4>";
                }
                {
                    const report = await requestShipReportAsync('character', id);
                    console.log(report);
                    const zkb = "https://zkillboard.com/ship/$(id)/";
                    document.getElementById('win_ships').appendChild(createTable(zkb, report.win_ships));
                    const gui = "/lost/ship/$(id)/character/" + id + "/";
                    document.getElementById('lost_ships').appendChild(createTable(gui, report.lost_ships));
                }
                {
                    const link = "https://zkillboard.com/system/$(id)/";
                    const report = await requestSystemReportAsync('character', id);
                    console.log(report);
                    document.getElementById('win_systems').appendChild(createTable(link, report.win_systems));
                    document.getElementById('lost_systems').appendChild(createTable(link, report.lost_systems));
                }
                {
                    const link = "/character/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('character', 'character', id);
                    console.log(report);
                    document.getElementById('friendly_chars').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_chars').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "/corporation/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('corporation', 'character', id);
                    console.log(report);
                    document.getElementById('friendly_corps').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_corps').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "https://zkillboard.com/alliance/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('alliance', 'character', id);
                    console.log(report);
                    document.getElementById('friendly_allis').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_allis').appendChild(createTable(link, report.enemy));
                }

            } catch (error) {
                console.log(error.message);
            }
        }

        const id = {{ id }};
        console.log('id: [' + id + ']');

        updateContent(id);
    </script>

    <div align='center'>
        <a href="/who/">Home</a>
    </div>

</body>

</html>