<!DOCTYPE html>
<html>

<head>
    <title>{{id}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <div class="content">
        <div id="portrait" class="portrait">
        </div>
        <div class="info">
            <div id="corporation">
                Corporation:
                <div id="corp_name" div style="display: inline">...</div>
                <a href="https://evewho.com/corporation/{{id}}">[evewho]</a>
                <a href="https://zkillboard.com/corporation/{{id}}/">[zkillboard]</a>
            </div>
            <div id="alliance">
                Alliance:
                <div id="alli_name" div style="display: inline">...</div>
                <a href="https://evewho.com/alliance/$(alliance_id)">[evewho]</a>
                <a href="https://zkillboard.com/alliance/$(alliance_id)/">[zkillboard]</a>
            </div>
            <div id="details">
                <p>CEO: $(ceo)</p>
                <p>Creator: $(creator)</p>
                <p>Founded: $(founded)</p>
                <p>Home Station: $(home_station)</p>
                <p>War Eligible: $(war_eligible)</p>
            </div>
        </div>
    </div>
    <div class="activity">
    </div>
    <h4>Activity last 60 days:</h4>
    <div id="wins_head"></div>
    <div class="tables-container">
        <div id="win_ships"></div>
        <div id="win_systems"></div>
    </div>
    <div id="losses_head"></div>
    <div class="tables-container">
        <div id="lost_ships"></div>
        <div id="lost_systems"></div>
    </div>
    <div>
        <h4>Friends</h4>
    </div>
    <div class="tables-container">
        <div id="friendly_chars"></div>
        <div id="friendly_corps"></div>
        <div id="friendly_allis"></div>
    </div>
    <div>
        <h4>Enemy</h4>
    </div>
    <div class="tables-container">
        <div id="enemy_chars"></div>
        <div id="enemy_corps"></div>
        <div id="enemy_allis"></div>
    </div>
    </div>

    <script>
        function href(area, id, name) {
            return '<a href="/' + area + '/' + id + '/">' + name + '</a>';
        }

        async function updateContent() {
            try {
                const id = Number(`{{id}}`);
                console.log('id: [' + id + ']');

                const corporation = await getObjectAsync('corporations', id);
                // console.log(corporation);

                const corp_name = corporation.name + " [" + corporation.ticker + "]";
                insertInto('corp_name', makeRef('corporation', id, corp_name));
                document.title = corp_name;

                if (corporation.alliance_id !== undefined) {
                    const alliance = await getObjectAsync('alliances', corporation.alliance_id);
                    // console.log(alliance);

                    document.querySelectorAll('#alliance a').forEach(anchor => {
                        anchor.href = anchor.href.replace('$(alliance_id)', corporation.alliance_id);
                    });
                    const alli_name = alliance.name + " [" + alliance.ticker + "]";
                    insertInto('alli_name', makeRef('alliance', corporation.alliance_id, alli_name));

                    document.title = document.title + ' - ' + alli_name;

                } else {
                    const element = document.getElementById('alliance');
                    element.remove();
                }

                const names = await getNames([corporation.ceo_id, corporation.creator_id, corporation.home_station_id]);
                console.log(names);

                const ceo = href('character', corporation.ceo_id, names[corporation.ceo_id]);
                const creator = href('character', corporation.creator_id, names[corporation.creator_id]);

                const detailsDiv = document.getElementById('details');
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(ceo)', ceo);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(creator)', creator);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(founded)', corporation.date_founded);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(home_station)', names[corporation.home_station_id]);
                detailsDiv.innerHTML = detailsDiv.innerHTML.replace('$(war_eligible)', corporation.war_eligible ? 'true' : 'false');


                const portrait = await getObjectAsync('corporations', id, 'icons');
                // console.log(portrait);
                insertInto('portrait', makeImage(portrait.px128x128, "128x128"));

                {
                    const report = await requestShortReportAsync('corporation', id);
                    console.log(report);
                    document.getElementById("wins_head").innerHTML = "<h4>Wins: " + report.wins.count + ' (' + report.wins.count_percent
                        + "%) </h4>";
                    document.getElementById("losses_head").innerHTML = "<h4>Losses: " + report.losses.count + ' (' + report.losses.count_percent
                        + "%) </h4>";
                }
                {
                    const link = "/lost/ship/$(id)/corporation/" + id + "/";
                    const report = await requestShipReportAsync('corporation', id);
                    // console.log(report);
                    document.getElementById('win_ships').appendChild(createTable(link, report.win_ships));
                    document.getElementById('lost_ships').appendChild(createTable(link, report.lost_ships));
                }
                {
                    const link = "/lost/system/$(id)/corporation/" + id + "/";
                    const report = await requestSystemReportAsync('corporation', id);
                    console.log(report);
                    document.getElementById('win_systems').appendChild(createTable(link, report.win_systems));
                    document.getElementById('lost_systems').appendChild(createTable(link, report.lost_systems));
                }
                {
                    const link = "/character/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('character', 'corporation', id);
                    console.log(report);
                    document.getElementById('friendly_chars').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_chars').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "/corporation/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('corporation', 'corporation', id);
                    console.log(report);
                    document.getElementById('friendly_corps').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_corps').appendChild(createTable(link, report.enemy));
                }
                {
                    const link = "/alliance/$(id)/";
                    const report = await requestFriendsAndEnemyAsync('alliance', 'corporation', id);
                    console.log(report);
                    document.getElementById('friendly_allis').appendChild(createTable(link, report.friends));
                    document.getElementById('enemy_allis').appendChild(createTable(link, report.enemy));
                }

            } catch (error) {
                console.log(error.message);
            }
        }

        updateContent();
    </script>

    <div align='center'>
        <a href="/gui/who/">Home</a>
    </div>

</body>

</html>